<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <link name="lidar_link">
        <visual>
            <geometry>
                <mesh filename="package://robot_description/meshes/rplidar.dae" scale="${scale}"/>    
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 ${pi}"/>
            <material name="black"/>
        </visual>
        <xacro:lidar_inertia xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <collision>
            <geometry>
                <mesh filename="package://robot_description/meshes/rplidar.dae" scale="${scale}"/>    
            </geometry>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        </collision>
    </link>

    <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_link"/>
        <origin xyz="0.0 0.0 ${scale_num * 0.1116}" rpy="0.0 0.0 ${-pi/2}"/>
    </joint>


    <link name="laser_frame" />

    <joint name="lidar_laser_joint" type="fixed">
        <parent link="lidar_link"/>
        <child link="laser_frame"/>
        <origin xyz="0.0 0.0 ${scale_num * 0.025101}" rpy="0.0 0.0 0.0"/>
    </joint>

    <gazebo reference="laser_frame">
        <sensor name="laser" type="ray">
            <pose> 0 0 0 0 0 0 </pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <ray>
                <scan>
                    <horizontal>
                        <samples>720</samples>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                </scan>
                <range>
                    <min>0.1</min>
                    <max>12</max>
                </range>
            </ray>
            <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
                <ros>
                    <argument>~/out:=scan</argument>
                </ros>
                <output_type>sensor_msgs/LaserScan</output_type>
                <frame_name>laser_frame</frame_name>
            </plugin>
        </sensor>
    </gazebo>

</robot>